force-app/main/default/flows/PSGE_IOT_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_This_a_Security_Alert_Events</name>
        <label>Is This a Security Alert Events</label>
        <locationX>454</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSGE_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProperty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>PSGE_IOT_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSGE_IOT_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateProperty</name>
        <label>updateProperty</label>
        <locationX>688</locationX>
        <locationY>196</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PSGE_DeviceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PSGE_DeviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PSGE_DeviceId_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PSGE_Description__c</field>
            <value>
                <elementReference>PSGE_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSGE_Status__c</field>
            <value>
                <elementReference>PSGE_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_This_a_Security_Alert_Events</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PSGE_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSGE_DeviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSGE_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
